.error404
  &__title
    padding: 1em 0 0em 4em
    font-size 3.33em
    font-weight bold
    color color-blue
    margin-bottom: 1.500em // 50px
  &__description
  &__return
    padding: 0 5em
    font-size 2.62em
    color color-title-article
    margin-bottom 1.908em // 50px
  &__link
    font-weight: 500;
    &:hover
    &:focus
      text-decoration underline;
