.footer
  background url("../img/svg/footer_background.svg") no-repeat, color-background-footer
  color color-white
  padding 8.5em 2em 0 2em
  &__container
    display flex
    margin 0 auto
    max-width 1140px
    justify-content: space-between
  &__section
    max-width 350px
    &__title
      font-size: 3em
      font-weight: 500
      letter-spacing .5px
      margin-bottom .7em
      display: block
  &__social__title
    margin-top 1em

.footer__copyright
  text-align: center
  font-size: 1.4em
  margin-top 4em
  & a
    font-weight: 500;
    &:hover
    &:focus
      text-decoration underline

.footer__help-us
  &__link
    font-size: 2.06em
    background-color: color-main-yellow
    border-radius 3px
    margin-bottom 0.971em
    padding 0.395em 1.01em
    transition background-color .3s ease-out
    display: inline-block
    &:focus
    &:hover
      background-color color-hover
      transition background-color .3s ease-out

.footer__last-news
  &__item
    font-size: 2.06em
    display block
    line-height 1.4em
    margin-bottom .5em
    font-weight: normal
    &:hover
    &:focus
      text-decoration underline
  &__item:last-child
    margin-bottom 0

.footer__contact__item
  font-size: 2.06em
  &:hover
  &:focus
    text-decoration underline
  &:before
    content: "\e91c"
    display: inline-block;
    font-family "glyphs"
    font-size .8em
    margin-right .8em

.footer
  &__social
    &__item:before
      color #FFF
      font-size: 4.2em
      font-family: glyphs
      margin-right 0.357em
      transition color .2s ease-out
    &__item:hover:before
      color: color-hover
      transition color .2s ease-out
    &__item-fb:before
      content "\e91e"
    &__item-tw:before
      content "\e91d"
    &__item-inst:before
      content "\e900"
    &__item-vim:before
      content "\e91f"
    &__item-yout:before
      content "\e920"
      margin-right 0

@media screen and ( max-width: 1108px )
  .footer
    &__section
      max-width 300px
    &__section__title
      font-size: 2.06em
      font-weight bold

  .footer__help-us__link
  .footer__last-news__item
  .footer__contact__item
    font-size: 1.8em;
  .footer__social__item:before
    font-size: 2.86em
  .footer__copyright
    margin-top 1.4em


@media screen and ( max-width: 875px )
  .footer
    background color-background-footer
    height auto
    &__container
      flex-direction column
      text-align: center
    &__section
      max-width none
      margin-bottom 3em
      &__title
        font-size: 3em
  .footer__help-us__link
  .footer__last-news__item
  .footer__contact__item
    font-size: 2.06em
  .footer__help-us__link
    margin-right .7em
    &:last-child
      margin-right 0

  .footer__social__item:before
    font-size: 4.2em

  .footer__section__contactsocial
    display flex
    justify-content: space-around
  .footer__social__title
    margin-top 0
  .footer__copyright
    margin-top 0em
    padding-bottom 1em

@media screen and ( max-width: 657px )
  .footer
    background url("../img/svg/footer_background.svg") no-repeat bottom left, color-background-footer
    &__container
      flex-direction column
  .footer__help-us__link
    display block
    margin-right: 0
    line-height: 1.4em
  .footer__section__contactsocial
    display block
  .footer__social
    margin-top 3em


