@import "kouto-swiss"

/* MODIFICATION CLIENT, SUPPRESSION DU SUBHEADER
.header
  .subheader
    background-color color-background-subheader
    color color-elements-subheader
    line-height 5.6em
    &__mail
      border-left 1px solid color-border-subheader
      border-right 1px solid color-border-subheader
      padding 0 2em
      white-space nowrap
      margin-left 4.4em
      &__item
        font-size 1.27em
        transition trans
        &:focus
        &:hover
          color color-elements-subheader - 20%
          transition trans
        &:before
          content "\e918";
          font-family glyphs
          font-size: 1.3em
          position: relative
          top .14em
          line-height 0
          padding-right 0.882em
    &__lang
      padding 0 2em
      border-right 1px solid color-border-subheader
      &__item
        font-size 1.27em
        transition trans
        &:focus
        &:hover
          color color-elements-subheader - 20%
          transition trans
        &:nth-child(2):after
        &:nth-child(2):before
          content " - "
        &:nth-child(3):after
          content ""
        &--active
          font-weight bold
    &__form
      padding 0 .7em 0 2em
      border-right 1px solid color-border-subheader
      &__label
        display none
      &__search
        background-color color-background-subheader
        border none
        font-size: 1.27em
        width 7.2em
        color white
        line-height 2em
      &__submit
        margin-right .5em
    &__social
      text-align right
      &__link
        height: 6em;
        margin-left: 1.5em;
        padding-left: 2.5em;
        display: inline-block;
        position: relative;
        max-width: 2.5em;
        overflow hidden
        transition: 0.7s;
      &__logo
        position: absolute;
        left: 0;
      &__text
        font-size: 1.27em
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        color color-main-yellow
        margin-left .3em
      &__logo:before
        font-family glyphs
        font-size: 2.4em
      &__logo-fb:before
        content "\e91e"
      &__logo-tw:before
        content "\e91d"
      &__logo-inst:before
        content "\e900"
      &__logo-vi:before
        content "\e91f"
      &__logo-yout:before
        content "\e920"
      &__link:hover
        max-width 100%
        color color-main-yellow
        text-align left
*/


/************************************\
  NAV PRINCPALE
\************************************/

.header
  &__logo
    retina-image( "../img/png/Baobab_logo.png", 80px 64px, "@2x" );
    background-repeat no-repeat
    background-position center center
    color transparent

.header > .menu
  background-color #2E4157
.header-main > .menu
  background-color rgba(46, 65, 87, 0.8)
.menu
  &__lang
    display none
  &__bloc
    display inline-block
  &__icon
    display none
    &__label
      display none
  &__link
    margin-right 5em
  &__link--last
    margin-right 0
  &__item
    color color-white
    font-size 1.62em
    text-align center
    margin-top 1em
    &:before
      font-family glyphs
      font-size 1.3em
      display block
      margin-bottom .5em
      transition trans
    &-home:before
      content "\e917";
    &-projet:before
      content "\e901";
    &-news:before
      content "\e905";
    &-prod:before
      content "\e904";
    &-pics:before
      content "\e903";
    &-tutos:before
      content "\e902";
    &-contact:before
      content "\e91c";
    &:hover:before
      transition trans
      color color-main-yellow

/************************************\
    HEADER IMG
\************************************/


.header-main
  background url("../img/png/pattern.png") repeat, url("../img/jpg/background_home_header.jpg") no-repeat center center/cover

.header-main > .header__title-main
  retina-image( "../img/png/title_homebck.png", contain, "@2x" );
  background-repeat no-repeat
  background-position center center
  width 80%
.header__title
  &__main
    display none // Modification client, change de police, import d'une image sur le fond.
  &__sub
    display none


/************************************\
    BOTTOM HEADER
\************************************/

.bottom-header
  background: rgba(0,0,0,0.65);
  &__button
    color color-white
    border 1px solid color-main-yellow
    border-radius 3px
    padding 0.467em 0.701em
    font-size: 1.3em
    transition trans
    &:nth-child(1)
      margin-left 2.5em
    &:nth-child(2)
      margin-left 1.460em
    &:hover
    &:focus
      background-color color-main-yellow
      transition trans
  &__text
    color color-white
    font-size: 1.3em
    margin-left 1.753em
    line-height 1.25em

.menu
  &__lang__deskopt
    color white
    position: absolute
    left: 0
    background-color color-blue - 30%
    &__item
      display block
      margin-bottom .41em
      font-size: 1.3em
      background-color color-blue - 30%
      padding 5px 5px
      transition trans
      &:hover
      &:focus
        background-color color-blue
        transition trans
    &__item:last-child
      margin-bottom 0
/************************************\
    MOUSE ANIMATION
\************************************/


/************************************\
  SUBHEADER RESPONSIVE
\************************************/

+media-query( only screen, max-width 995px )
  .header
    .subheader
      &__social
        &__text
          display none

/*
+media-query( only screen, max-width 929px )
  .header
    .subheader
      &__mail
        display none
      &__lang
        border-left 1px solid color-border-subheader
        margin-left 4.4em

+media-query( only screen, max-width 703px )
  .header
    .subheader
      &__social-container
        right auto

+media-query( only screen, max-width 639px )
  .header
    .subheader
      &__lang
        margin-left 0
        border-left 0

+media-query( only screen, max-width 605px )
  .header
    .bottom-header
      display none

+media-query( only screen, max-width 592px )
  .header
    .subheader
      text-align center
      &__social-container
        display none
      &__form
        border-right 0
*/


/************************************\
  MENU PRINCIPAL RESPONSIVE
\************************************/

+media-query( only screen, max-width 1064px )
  .menu
    &__link
      margin-right 3em
      &--last
        margin-right 0



+media-query( only screen, max-width 972px )
  .menu
    &__item
      font-size: 1.4em
      margin-top 1.5em

+media-query( only screen, max-width 885px )
  .subheader
    display none
  .header
    &__logo
      margin-left 2.4em
  .menu
    position: relative
    padding 0
    &__icon
      display none
    &__icon-bg
      position: absolute
      z-index: 1
      top: 1em
      right: 3em
      width: 60px
      height: 60px
      border-radius: 30px
      border 1px solid color-main-yellow
      background: color-navres-menu
    &__icon__label
      display inline-block
      position: absolute
      z-index 2
      right: 3.3em
      top: 2.3em
      height 60px
      width 60px
      color transparent
      cursor pointer
      & span
      & span:before
      & span:after
        position: absolute;
        width: 20px;
        height: 2px;
        background-color: #ffffff;
      & span
        left: 34px
        top: 17px
        transform: translateX(-50%) translateY(-50%);
        transition: background-color 0.2s;
      & span:before
      & span:after
        content: '';
        top: 0;
        left: 0;
        backface-visibility: hidden;
        transition: transform 0.2s;
      & span:before
        transform: translateY(-6px);
      & span:after
        transform: translateY(6px);
    &__lang
      display inline-block
      color white
      margin-top 10px
      &__item
        background-color color-blue - 30%
        font-size: 1.4em
        padding 5px 5px
        transition background-color .3s ease
        &:hover
        &:focus
          background-color color-blue
          transition background-color .3s ease
    &__lang__deskopt
      display none
    &__container
      position: relative
      width 25em
      top 0
      text-align center
      background-color color-blue - 20%
      margin-right 0
      z-index 20
      position: absolute
      right: 0
      top: 0
      bottom: 0
      overflow-y: scroll
      flex-direction column
    &__link
      margin-right 0
      display block
      font-size: 16.2px
  .menu__icon:checked
    transform: translateX(-250px);
    transition: trans
  .menu__icon:checked ~ .menu__container
    transform: translateX(0px);
    z-index: 10;
    overflow-y: visible;
  .site-pusher
    height: 100%
    transition trans
    transform translateX(0px)
  .site-container
    overflow: hidden
    height: 100%
  .site-content
    height: 100%
    overflow-scrolling touch
  /*.header
    position static*/
  .menu__container
    transform translateX(250px)
    height: 100vh

.with--sidebar
  overflow hidden
  height 100%
  .site-pusher
    transform translateX(-250px)
  .site-cache
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    transition .3s linear
    background-color rgba(0,0,0,.6)
  .menu__icon__label
    & span
      background-color: transparent;
    & span:before
      transform: rotate(-45deg);
    & span:after
      transform: rotate(45deg);

