@import "kouto-swiss"

/************************************\
  IMAGE D'INTRO - EN SAVOIR PLUS
\************************************/

.intro-img
  retina-image( "../img/jpg/baobab_about4.jpg", cover, "@2x");
  background-position center center
  text-align center
  padding 1.5em 2.5em
  &__title
    font-weight: bold
    font-size: 3.33em
    color color-white
    text-transform uppercase
    letter-spacing 2px
    border 1px solid color-white
    padding 1.742em 1.9em
  &__button
    font-size: 2.62em
    color color-white
    padding 0.458em 1.145em
    border 2px solid color-main-yellow
    border-radius 3px
    transition trans
    &:hover
      background-color color-main-yellow
      transition trans
