.makedonate__title-section
  display none

.header-makedonate
  background url("../img/jpg/makedonatebackground.jpg") no-repeat center center
  height 50em

.makedonate
  &__donate
    position: relative
    background-color color-grey-background
    padding 5em
    margin-bottom 8em
  &__title
    position: absolute
    top: -26px
    font-weight: bold
    font-size: 3.329em
    letter-spacing: 0.83px
    background-color #FFF
    padding 0.24em 0.48em // 8px 16px
    display inline-block
  &__paragraph
    font-size: 2.02em
    letter-spacing: 0.5px
    line-height: 1.3em
    margin-bottom 2.970em // 60px
  &__button
    box-sizing content-box
    display: inline-block
    font-weight: 500
    font-size: 2.02em
    letter-spacing: 0.5px
    margin-right 1.485em // 30px
    margin-bottom 0.743em // 15px
    {button-style}
    &:last-child
      margin-right 0
    &:hover
    &:focus
      {button-style-hover}
  &__link
    color color-blue
    font-weight: 500
    &:hover
    &:focus
      text-decoration underline


.fixancre
  height 40px

.makedonate
  &__title-container
    text-align center
  &__main-title
    font-size: 4em
    font-weight: bold
    color: #FFF
    letter-spacing: 1.34px;
    text-shadow: 0px 2px 1px rgba(0,0,0,0.50);
  &__subtitle
    margin-top 5px
    display block
    font-weight: 500
    font-size: 2em
    color: #FAFAFA
    letter-spacing: 0.65px



+media-query( only screen, max-width 736px )
  .header-makedonate
    height 30em
  .makedonate
    &__main-title
    &__subtitle
      padding 0 25px
    &__main-title
      font-size: 2.5em
    &__subtitle
      font-size: 1.5em
  .makedonate__title-container
    top 15em

+media-query( only screen, max-width 646px )
  .makedonate
    &__donate
      padding 3em
    &__title
      font-size: 2em
      letter-spacing .4px
      top -16px
    &__paragraph
    &__button
      font-size: 1.4em

+media-query( only screen, max-width 393px )
  .makedonate
    &__title
      position static
      margin-bottom 1em
