/**************************\
  Parallax effect
/**************************/

.parallax
  height: 736px;
  position: relative;
  &__layer
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 1400px
    width: 100%;
    height: 736px;
    position: fixed;
    z-index: -1;
    &-01
      background-image: url('../img/parallax/SurUnBaobab_Parrallax_14.svg');
    &-02
      background-image: url('../img/parallax/SurUnBaobab_Parrallax_12.svg');
    &-03
      background-image: url('../img/parallax/SurUnBaobab_Parrallax_11.svg');
    &-04
      background-image: url('../img/parallax/SurUnBaobab_Parrallax_10.svg');
    &-05
      background-image: url('../img/parallax/SurUnBaobab_Parrallax_09.svg');
    &-06
      background-image: url('../img/parallax/SurUnBaobab_Parrallax_08.svg');
    &-07
      background-image: url('../img/parallax/SurUnBaobab_Parrallax_07.svg');
    &-08
      background-image: url('../img/parallax/SurUnBaobab_Parrallax_06.svg');
    &-09
      background-image: url('../img/parallax/SurUnBaobab_Parrallax_05.svg');
    &-10
      background-image: url('../img/parallax/SurUnBaobab_Parrallax_04.svg');
    &-11
      background-image: url('../img/parallax/SurUnBaobab_Parrallax_03.svg');
    &-12
      background-image: url('../img/parallax/SurUnBaobab_Parrallax_02.svg');
    &-13
      background-image: url('../img/parallax/SurUnBaobab_Parrallax_07.svg');
      background-size: 1402px


.fix-parallax
  height: 736px
  width: 100%
  background-image: url('../img/parallax/SurUnBaobab_Parrallax_Header.svg');
  background-size: 1402px
  background-position: bottom center;
  background-repeat: no-repeat;
  z-index: -1
  // position: relative;
  // top: -200px




.intro-text
  background-color: color-white;

.site-content
  width: 100%;




// @media screen and ( max-width: 1408px )
