/* colors style
* by Jimmy Letecheur
*/

/************************************\
  GENERAL
\************************************/

text-color = #363636
color-main-yellow = #D9A613
color-blue = #2E4157
color-white = #FFF
color-grey-background = #F5F5F5
color-title-article = #222222

/************************************\
  HEADER
\************************************/

color-background-subheader = #2D2D2D
color-elements-subheader = #CCC
color-border-subheader = #5C5C5C

/************************************\
  FOOTER
\************************************/

color-background-footer = #2E4157;