/*.header MODIFICATION CLIENT SUPPRESSION SUBHEADER
  .subheader
    height 6em
    &__mail
    &__lang
    &__search
      display inline-block
      height: 100%
    &__form
      height 100%
      position: relative
      bottom .1em
      &__submit
        float left
        position relative
        top 1.3em
    &__social-container
      display inline-block
      position: absolute
      right: 7.45em
    &__social
      display inline-block
      height: 60px*/

/************************************\
  NAV PRINCPALE
\************************************/

.header
  position: relative
  &__logo
    display inline-block
    width: 8.5em
    height: 6.4em
    margin-top 1em

.menu
  padding 0 6.1em 0 4.1em
  height 8em
  &__container
    margin 0 auto
    float right
    margin-right 1.75em
  &__title
    display none
  &__link
  &__item
    display inline-block

+media-query( only screen, max-width 1070px )
  .menu
    padding 0 4.1em 0 4.1em
/************************************\
    HEADER IMG
\************************************/

.header-main
  height 80em
  height 100vh
  position: relative
.header__title
  position: absolute
  text-align center
  width 100%
  height 146px
  top: 67%;
  left: 50%;
  transform: translate(-50%, -50%);

/************************************\
    BOTTOM HEADER
\************************************/

.bottom-header
  height 5em
  position: absolute
  bottom: 0
  width: 100%
  &__button
    position relative
    top -.6em
  &__text
    display inline-block
    max-width 22em
    margin-top .7em

