
.photos
  &__container
    max-width: 105em
    margin: 0 auto
    padding: 0 3em

.photos__intro__button-container
  margin: 0 auto
  position: absolute
  bottom -5.5em
  position: absolute
  max-width 550px
  margin-left: auto
  margin-right: auto
  left: 0
  right: 0
.photos__intro
  position: relative
.photos__intro-container
  margin: 0 auto
  max-width: 78em
