.productions__article
  position: relative
  &:after
    display block
    content ""
    clear both

.productions__sectiontitle
  position: relative
  top -9999px
  left -9999px

.productions__container
  max-width: 105em;
  margin: 0 auto;
  padding: 0 3em;

.productions__text
  max-width 48em
  position: absolute
  right: 2em
.productions__background
  position: relative
  min-height 50em
  padding 0 2em
  &:after
    content ""
    display block
    clear both

.productions__button
  position: absolute
  bottom: -28px
  right: 25px