.desc-projet
  padding 0 3em 5em 3em
  &__container
    max-width 106em
    margin 0 auto

/************************************\
  QUOTE
\************************************/

.desc-projet__quote
  min-height: 24em

/************************************\
  TECHNIQUE
\************************************/
.desc-technique__title-container
  position: relative
.desc-technique
.whoarewe
  padding 6em 3em
  &__container
    position: relative
    max-width 106em
    margin 0 auto

/************************************\
 WHOAREWE
\************************************/

.whoarewe
  margin-bottom: 10em

.whoarewe__about
  max-width 36em
  min-height 69.3em
  position: relative

.whoarewe__about-container
  position: relative
  max-width 106em
  &:after
    display block
    content ""
    clear both

.whoarewe__background
  background-color color-grey-background
  width: 100%
  height: 600px
  position: absolute
  bottom -60px
  z-index -1

.whoarewe__about__button-container
  position: absolute
  bottom: -3em
  margin-left: auto
  margin-right auto
  left: 0
  right: 0
.whoarewe__about-container-2
  max-width 85.2em
  margin: 0 auto
  padding 0 2em
  &:after
    display block
    content ""
    clear both

