.desc-projet
  padding 0 3em 5em 3em
  &__container
    max-width 106em
    margin 0 auto

/************************************\
  QUOTE
\************************************/

.desc-projet__quote
  min-height: 24em

/************************************\
  TECHNIQUE
\************************************/
.desc-technique__title-container
  position: relative
.desc-technique
  padding 6em 3em
  &__container
    position: relative
    max-width 106em
    margin 0 auto

