assets
node_modules
projet-sur-un-baobab-master
Mockups/mockups.bmpr
dev/*
!dev/wp-content/
dev/wp-content/*
!dev/wp-content/themes/
dev/wp-content/themes/*
!dev/wp-content/themes/Sur-un-baobab/

dev_online/*
