.projet-helpus
  text-align center
  &__donate
    font-size: 2.62em;
    display: inline-block;
    color: #5c5c5c;
    padding: 0.751em 2.02em;
    border: 2px solid #d9a613;
    border-radius: 3px;
    transition: 0.3s ease-out;
    margin-bottom: .85em
    text-transform uppercase
    &:hover
    &:focus
      transition trans
      background-color color-main-yellow
      color #FFF
  &__follow-us-text
    font-size: 2.06em
    margin-bottom: .9em
    color #5C5C5C
    text-transform: uppercase
    letter-spacing 1px
    display: block
  &__item
    padding-top: 2em
    margin-right: 1.5em
    &:after
      display inline-block
      font-family: glyphs
      font-size: 4em

/// POUR LES ICONES, VOIR LES STYLS DANS home/home-content
