+media-query( only screen, max-width 1073px )
  .gifplayer-wrapper
    float none
    display inline-block
    text-align center
    margin: 0 auto
  .desc-technique__desc
    text-align left
  .desc-technique__desc__txtleft
    padding-right 0
    margin-top: 50px
    text-align left
  .desc-technique__figure
    float none
  .desc-technique__container
    text-align center

+media-query( only screen, max-width 572px )
  .desc-projet__subtitle
    font-size: 2em
  .desc-projet__title
    font-size: 2.5em
    &:after
      display none
  .paragraph-style-projet
    font-size: 1.8em
  .desc-projet__sousrubrique
  .desc-technique__title
  .whoarewe__title
    font-size: 2.5em

+media-query( only screen, max-width 874px )
  .whoarewe
    padding-bottom 0
  .whoarewe__about
    display block
    float: none
    margin: 0 auto
    &-elena
      margin-bottom: 10em
    &-francois
      margin-bottom: 0
    &__img
      max-width 100%
      height auto
  .whoarewe__background
    display none
  .projet-helpus
    margin-top: 10em
+media-query( only screen, max-width 700px )
  .desc-technique__title
    &:after
      display none
  .paragraph-style-projet
    text-align left
  .whoarewe__title
    &:before
      display none

+media-query( only screen, max-width 633px )
  .desc-projet__quote-1
    font-size: 2.5em
  .desc-projet__quote-2
    font-size: 1.8em