
.title_section_project
    position relative
.desc-technique
    background-color color-grey-background
    &__title
        display: flex
        flex-direction: row
        font-size: 3.78em
        text-transform: uppercase
        font-family handofseanfont
        margin-bottom 1.046em // 50px
        display: flex;
        justify-content: left;
        margin-top: 4rem;
        overflow: hidden;
        &:after
            content "\a0"
            height 2px
            background-color #363636
            width 20%
            display inline-block
            position: relative;
            top 15px
            padding-right: 0.418em // 20px
            margin-left: 0.418em // 20px
            flex-grow: 1

.desc-technique__desc__txtleft
    padding-right 25em

.desc-technique__container:after
    display block
    content ""
    clear: both;


.desc-technique__figure
    float right
.desc-technique__img
    max-width 100%
    height auto



.desc-technique__button
  font-size 2.32em
  line-height 1.3em
  {button-style}
  &:hover
  &:focus
    {button-style-hover}
