.intro-img
  height 56em
  &__title
    display inline-block
    margin-top 4.8em
  &__button
    display inline-block
    margin-top 1.527em


.intro-text
  position: relative
  padding 0 3em 0 3em
  &__container
    max-width 76em
    margin 0 auto
    &:after
      content: "";
      display: block;
      clear: both;
  &__paragraph
    float left
  &__img
    float right
  &__deco
    margin 0 auto
    display block
    position: absolute
    margin-left: auto
    margin-right: auto
    left: 0
    right: 0
    top: 120px


/************************************\
  ARTICLES NEWS
\************************************/

.last-news
  margin 0 auto
  text-align center
  &__line1
    position: relative
    top -1px
  &__line2
    position: relative
    top 2px
  &__articles__img
    float right
    & img
      display block
  &__articles__top
    margin 0 auto
    height 30.3em
    width: 90em
    display block
    &:after
      content: "";
      display: block;
      clear: both;
    &__link
      position: absolute
      right 1.6em
      bottom 2em
    &__intro
      width 350px
      float right
  &__articles__img
    max-width 45em
    overflow hidden

.last-news__articles__container-text
  width 44.9em
  position: relative
  height: 100%

.last-news__articles__top img
  transition .3s ease-out
.last-news__articles__top:hover img
  transform scale(1.05)
  transition .3s ease-in-out

.article__vignette
  width 27.7em
  height 23.6em
  position: relative
  overflow hidden
  &__img
    position: relative
    z-index 1
  &__container
    position absolute
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index 2;
    width 80%
    height: 80%
    top: 10%
    transform translateY(-50%)
    /*
    margin 2.5em 1em 1em 2.8em
    */
    transition .3s ease
  &__more
    display inline-block
    margin-top 3em
    padding .8em

.last-news__container-bottom-articles
  width 90em
  margin 2.5em auto 13.5em
  display inline-block
  &:after
    content: "";
    display: block;
    clear: both;

.last-news__bottom-link:nth-child(1)
  float left
.last-news__bottom-link:nth-child(3)
  float right


/************************************\
    DONATE
\************************************/

.donate
  height: 70em
  text-align center
  padding-top 18em
  &__img
    display block
    margin: 0 auto

.follow-us
  margin 0 auto
  width 58.2em
  height 15em

/************************************\
    PRODUCTIONS RECENTES
\************************************/

.last-prod
  margin 0 auto 0 auto
  &__container
    text-align center
  &__item
    display inline-block
    &:nth-child(1)
      margin-right 6%
