html
  font-size 62.5%
  font-family ralewayfont
  height 100%
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing antialiased
  color text-color


a
  text-decoration none
  color inherit

body
  opacity 1

trans = .3s ease-out

.visuallyhidden
  border 0;
  height: 1px
  margin -1px
  overflow: hidden
  position: absolute
  color color-white

// Styles bouttons normal
button-style = @block{
  display: inline-block;
  color: color-button;
  padding: 0.751em 2.02em;
  border: 2px solid color-main-yellow;
  border-radius: 3px;
  transition: 0.3s ease-out;
}

button-style-hover = @block{
  background-color: color-main-yellow;
  transition: 0.3s ease-out;
  color: color-white;
}
