html
  font-size 62.5%
  font-family ralewayfont
  height 100%
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing antialiased
  color text-color
  background-image url(grid.png);
  background-repeat repeat
  background-position center

input
  appearance none
  outline none

a
  text-decoration none
  color inherit

body
  opacity 1

trans = .3s ease-out