/************************************\
  VIDEOS RESPONSIVE YOUT
\************************************/

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/************************************\
  ARTICLES CONTENT
\************************************/
.alignright
  float right
  margin-left 3rem
  max-width 100%
  height auto
.aligncenter
  display: block
  margin: 3rem auto 0 auto
  max-width 100%
  height auto
.alignleft
  max-width 100%
  height auto
img
  max-width 100%
  height auto

.news-view__article
.prod-view__tabs-and-content-container
  blockquote
    font-style italic
    border-left 8px solid color-blue
    padding-left 20px
    margin-top 40px
    margin-bottom: 40px
    color #5C5C5C
  em
    font-style: italic
  p
    font-size: 2.058em
    line-height 1.4em
    margin-bottom 0.997em // 20px
  strong
    font-weight: bold
  i
    font-style italic
  .news-view__the-content
  .prod-view__sections
    overflow: hidden;
    .alignright
      float right
      margin-left 3rem
    .aligncenter
      display: block
      margin: 3rem auto 0 auto
    a
      color #E0C331
      font-weight 500
      &:hover
      &:focus
        text-decoration underline

/************************************\
  WYSIWIG STYLE
\************************************/

.sous-titre1
  font-family ralewayfont
  font-weight 600
  font-size: 2em
  display block
  line-height 1.25em
  color #363636

.sous-titre2
  font-family ralewayfont
  font-weight 600
  font-size: 1.5em
  font-weight bold
  display block
  line-height 1.25em
  color #363636

.sous-titre3
  font-family ralewayfont
  font-weight 600
  font-size: 1.3em
  font-weight bold
  display block
  line-height 1.25em
  color #363636