/************************************\
  ARTICLES CONTENT
\************************************/

.news-view__article
  blockquote
    font-style italic
    border-left 8px solid color-blue
    padding-left 20px
    margin-top 40px
    margin-bottom: 40px
    color #5C5C5C
  em
    font-style: italic
  p
    font-size: 2.058em
    line-height 1.4em
    margin-bottom 0.997em // 20px
  strong
    font-weight: bold
  i
    font-style italic
  .news-view__the-content
    overflow: hidden;
    .alignright
      float right
      margin-left 3rem
    .aligncenter
      display: block
      margin: 3rem auto 0 auto
    a
      color #E0C331
      font-weight 500
      &:hover
      &:focus
        text-decoration underline
