@import "kouto-swiss"

/************************************\
    TEXT INTRO - Rencontrer,animer…
\************************************/

.intro-text
  text-align center
  &__title
    font-family handofseanfont
    font-size 4.24em
    color color-main-yellow
    margin-top: 1.769em
    text-align center
    &:after
      content "";
      display block
      width 548px
      height 8px
      retina-image("../img/png/intro-text_line.png", 548px 8px, "@2x" )
      background-repeat no-repeat
      margin 0.236em auto 0.849em auto
  &__paragraph
    font-size: 2.22em
    max-width 20.344em
    margin-bottom 0.763em
    text-align left
    line-height 1.3em
  &__button
    display: inline-block
    margin 1.4em auto 1.4em auto
    font-size: 2.62em
    color color-text-articles
    padding 0.751em 2.02em
    border 2px solid color-main-yellow
    border-radius 3px
    transition trans
    &:hover
      background-color color-main-yellow
      transition trans
      color white

+media-query( only screen, max-width 808px )
  .intro-text
    &__container
      width 53em
    &__title
      font-size 2.62em
      margin-bottom 1em
      &:after
        display none
    &__img
      width 15em
      height auto
    &__paragraph
      font-size: 1.82em

+media-query( only screen, max-width 586px )
  .intro-text
    &__container
      width 320px
      margin 0 auto
      text-align center
    &__img
      display none
    &__paragraph
      text-align center

/*+media-query( only screen, max-width 400px )
  .intro-text
    &__container
      width 250px
    &__paragraph
      text-align left*/



/************************************\
  ARTICLES NEWS
\************************************/

.last-news
  position relative
  background-color color-white
  padding-top 23.1em
  &__title
    font-family: handofseanfont
    font-size: 3.76em
    color color-title-article
    padding-top 3.290em
    margin-bottom: .3em
  &__newsletters
    display block
    font-size: 1.62em
    text-transform uppercase
    margin-top .1em
    margin-bottom 1.852em
    & a
      text-decoration underline
      transition: color .3s ease
    & a:hover
    & a:focus
        color color-main-yellow
        transition: color .3s ease

.last-news__articles
  padding 0 2em
  &__top
    background-color #fff
    &__title
      font-weight: bold
      color color-title-article
      font-size: 2.62em
      text-align right
      line-height 1.2em
      &:after
        content ""
        display inline-block
        width 8.015em
        height 1px
        background-color #979797
        margin .449em 0 .649em
        text-align right
    &__intro
      font-size: 1.53em
      color #000
      text-align right
      display block
      line-height 1.3em
    &__link
      font-size: 1.53em
      padding 0.751em 2.020em
      border 2px solid color-main-yellow
      border-radius 3px
      letter-spacing .5px
      transition trans
      color: #5c5c5c
      &:hover
      &:focus
        background-color color-main-yellow
        transition trans
        color color-white
  &__container-text
    padding 2em





.article__vignette
  display inline-block
  transform: translateZ();
  &__title
    color color-white
    font-size: 1.62em
    font-weight: bold
    line-height 1.4em
  &__container
    background-color rgba(0,0,0,.5)
    padding 2em
    transform: translateZ(0)
  &__more
    background-color rgba(181,181,181,.5)
  &__img
    width 100%
    height 100%
    object-fit: cover;
    transition trans
  & svg
    transform scale(1)
    transition trans
  &__more-container
    position: absolute
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 20px

.article__vignette:hover .article__vignette__more svg
  transform trans
  & g
    stroke #f1f1f1

.article__vignette:hover img
  transform scale(1.2)
  filter grayscale(100%)
  transition trans

  /************************************\
      DONATE
  \************************************/

.donate
  position: relative
  z-index: 2;
  background url("../img/jpg/home_donate.jpg") no-repeat center center/cover
  &__img
    margin-bottom: 1.5em
  &__text1
    display block
    font-family: handofseanfont
    font-size 4em
    color color-white
    font-weight: bold
  &__text2
    font-family: handofseanfont
    display block
    color color-white
    font-weight: bold
    text-transform uppercase
    font-size: 7.05em
    line-height 1.7em
    &:after
      content "";
      margin: 0 auto
      margin-top: 0.040em
      display block
      width 4.420em
      height 1px
      background-color color-white
  &__button
    position relative
    display inline-block
    margin-top 3.81em
    color color-white
    font-size: 2.62em
    padding 0.495em 2.286em 0.495em 2.286em
    letter-spacing .5px
    border 1px solid color-main-yellow
    border-radius 3px
    background-color color-main-yellow
    transition trans
    overflow hidden
  &__animdon
    display: inline-block;
    position absolute
    left 70px
    transform translateX(-150px)
    opacity: 0
    transition: .3s ease
    font-weight 500
  &__animsoutien
    display inline-block
    transition: .3s ease
  &__button:hover .donate__animdon
    opacity: 1
    transform translateX(0px)
    transition: .3s ease
  &__button:hover .donate__animsoutien
    transform translateX(150px)
    opacity: 0
    transition: .3s ease




.follow-us
  background-color color-white
  position: relative
  bottom: -9.5em
  &__text
    display block
    font-size: 2.62em
    font-weight bold
    color #000;
    padding-top 1.145em
    margin-bottom 0.573em
  &__item
    margin-right 1.5em
    &:last-child
      margin-right 0
    &:after
      font-family glyphs
      font-size 3em
      transition trans
    &-fb:after
      content "\e91e"
      color #3B5A99
    &-fb:hover:after
      color #3B5A99 - 30%
      transition trans
    &-tw:after
      content "\e91d"
      color #5FA9DE
    &-tw:hover:after
      color #5fa9de - 30%
      transition trans
    &-inst:after
      content "\e900"
      color #F07328
    &-inst:hover:after
      color #F07328 - 30%
      transition trans
    &-vim:after
      content "\e91f"
      color #000 + 30%
    &-vim:hover:after
      color #000
      transition trans
    &-yout:after
      content "\e920"
      color #A60D1D
    &-yout:hover:after
      color #A60D1D - 30%
      transition trans

/************************************\
    DERNIERES PRODUCTIONS
\************************************/

.last-prod
  background: color-grey-background
  padding-top 7em
  text-align center
  &__title
    font-size: 3.76em;
    color: color-title-article
    margin-bottom 1.6em
    font-family: handofseanfont
  &__item
    z-index 1;
    overflow hidden
    width 40.8em
    height 57.6em
    position: relative
    &__link
      color transparent
    &__hovereffect
      width: 100%
      height: 100%
      position: absolute
      top: 0
      background: rgba(7,7,7,.0);
      transition .3s ease-in
      &:before
        content "\e922"
        font-family glyphs
        color transparent
        font-size: 10em
        display block
        position: absolute
        top: 40%
        left: 1.55em
        transition .5s ease
      &:hover:before
        color #FFF
        transition .5s ease
      &:after
        content "Voir le film"
        font-size: 2em
        display block
        color transparent
        position: absolute
        top: 53%
        left: 7.7em
        transition .5s ease
      &:hover:after
        color #fff;
    &__img
      position absolute
      left: 0
      transition 3s ease
      z-index -1

.last-prod__button
  font-size: 2.62em
  display inline-block
  color color-button
  padding 0.751em 2.02em
  border 2px solid color-main-yellow
  border-radius 3px
  transition trans
  margin-top 2.18em
  margin-bottom 4.504em
  &:hover
  &:focus
    background-color color-main-yellow
    color color-white
    transition trans

.last-prod__item:hover .last-prod__item__hovereffect
  background: rgba(7,7,7,.5);
  transition .5s ease

  /************************************\
    MEDIAQUERIES LAST-ARTICLES NEWS
  \************************************/

+media-query( only screen, max-width 965px )
  .last-news
    &__articles__top
      text-align right
      width 45em
      height auto
      padding-bottom 8em
      position: relative
    &__articles__img
      display block
      float none
      & img
        width: 100%;
    &__articles__container-text
      display block
      background-color color-white
      width: 45em
      height auto
      position static
    &__articles__top__link
      float right
      position: absolute
      bottom: 2em
  .last-news
    &__container-bottom-articles
      max-width 45em
    &__bottom-link
      &:nth-child(1)
      &:nth-child(3)
        float none
  .last-news__articles__top__title
  .last-news__articles__top__intro
    text-align left
  .last-news__articles__top__intro
  .last-news__articles__top__link
    left: 2em
    float none
    right auto
  .article__vignette
    margin-bottom 2em
    width 45em
    height 30em
    &__title
      font-size 2.62em

+media-query( only screen, max-width 499px )
  .last-news
    &__articles__top
      width 30em
    &__articles__container-text
      width 30em
    &__articles__top__title
      font-size 1.62em
      width 300px
  .last-news__articles__top__title
    width auto
  .last-news__articles__top__intro
    font-size: 1.2em
    width auto

  .last-news__container-bottom-articles
    width 30em
  .article__vignette
    margin-bottom 2em
    width 30em
    height 20em
    &__title
      font-size 1.62em

+media-query( only screen, max-width 336px )
  .last-news
    &__articles__top
      width 25em
    &__articles__container-text
      width 25em
    &__articles__top__title
      font-size 1.62em
      width 300px
  .last-news__articles__top__title
    width auto
  .last-news__articles__top__intro
    font-size: 1.2em
    width auto

  .last-news__container-bottom-articles
    width 30em
  .article__vignette
    margin-bottom 2em
    width 25em
    height 16.66em
    &__title
      font-size 1.15em
/************************************\
  SECTION DONATE
\************************************/

+media-query( only screen, max-width 636px )
  .donate
    &__img
      width 289px
    &__text1
      font-size 2.2em
    &__text2
      font-size 3.5em
  .follow-us
    width 75%
    height 15em
    bottom: -20em
    &__text
      font-size: 1.6em

/************************************\
  SECTION POSTERS
\************************************/

+media-query( only screen, max-width 916px )
  .last-prod__item
    margin: 0 auto
    display block
    margin-bottom 4em
    &:nth-child(1)
      margin-right auto

+media-query( only screen, max-width 470px )
  .last-prod__item
    max-width 256px
    max-height 400px
    margin-bottom 0em
    transition none
    &__hovereffect
      display none
    &__img
      transition 0s all ease
  .last-prod
    & img
      width 100%
      height auto
      box-sizing: border-box

      /************************************\
       LAST NEWS ARTICLE
      \************************************/
