/* My css import
 *
 * Main stylesheet
 * by Jimmy Letecheur
 */

// Settings
@import "settings/colors";
@import "settings/fonts";

// Tools
// --- nothing here (yet)

// Generic
@import "generic/reset_meyer"
@import "generic/reset_flexbox"


// Base
@import "base/base.styl"

// Objects
@import "objects/header_objects.styl"

@import "objects/home/home-content_components.styl"
@import "objects/projet_objects.styl"
////News
@import "objects/news_objects.styl"
@import "objects/news-view_objects.styl"
////Productions
@import "objects/production_objects.styl"

@import "objects/footer_objects.styl"

// Components
@import "components/header_components.styl"


//// Fil d'ariane
@import "components/section.breadcrump_components.styl"
//// Page Accueil
@import "components/home/home-content_components.styl"
//// Page projet
@import "components/projet/paragraph_desc-style_components.styl"
@import "components/projet/section.description_components.styl"
@import "components/projet/section.technique_components.styl"
@import "components/projet/section.whoarewe_components.styl"
@import "components/projet/button_helpus_components.styl"
@import "components/projet/media-queries.styl"
//// Page News
@import "components/news/article_components.styl"
@import "components/news/pagination_components.styl"
@import "components/news/news-view_components.styl"
//// Page Productions
@import "components/productions/productions_components.styl"

@import "components/footer_components.styl"