/* My css import
 *
 * Main stylesheet
 * by Jimmy Letecheur
 */

// Settings
@import "settings/colors";
@import "settings/fonts";

// Tools
// --- nothing here (yet)

// Generic
@import "generic/reset_meyer"
@import "generic/reset_flexbox"


// Base
@import "base/base.styl"

// Objects
@import "objects/header_objects.styl"
@import "objects/home-content_components.styl"
@import "objects/footer_objects.styl"

// Components
@import "components/header_components.styl"
@import "components/home-content_components.styl"
@import "components/footer_components.styl"


// Trumps
// --- nothing here (yet)