/* My css import
 *
 * Main stylesheet
 * by Jimmy Letecheur
 */

// Settings
@import "settings/colors";
@import "settings/fonts";

// Tools
// --- nothing here (yet)

// Generic
@import "generic/reset_meyer"
@import "generic/reset_flexbox"


// Base
@import "base/base.styl"
@import "base/wordrpess.styl"

// Objects
@import "objects/header_objects.styl"

@import "objects/home/home-content_components.styl"
@import "objects/projet_objects.styl"
////News
@import "objects/news_objects.styl"
@import "objects/news-view_objects.styl"
////Productions
@import "objects/production_objects.styl"
//// Productions view
@import "objects/productions-view_objects.styl"
//// Photos
@import "objects/photos_objects.styl"
//// Contact
@import "objects/contact_objects.styl"
//// Donate
@import "objects/makedonate_objects.styl"
//// Ateliers
@import "objects/ateliers_objects.styl"
@import "objects/ateliers-view_objects.styl"

@import "objects/footer_objects.styl"

// Components
@import "components/header_components.styl"

//// Parallax effect
@import "components/parallax.styl"

//// Fil d'ariane
@import "components/section.breadcrump_components.styl"
//// Page Accueil
@import "components/home/home-content_components.styl"
//// Page projet
@import "components/projet/paragraph_desc-style_components.styl"
@import "components/projet/section.description_components.styl"
@import "components/projet/section.technique_components.styl"
@import "components/projet/section.whoarewe_components.styl"
@import "components/projet/button_helpus_components.styl"
@import "components/projet/media-queries.styl"
//// Page News
@import "components/news/article_components.styl"
@import "components/news/pagination_components.styl"
@import "components/news/news-view_components.styl"
//// Page Productions
@import "components/productions/productions_components.styl"
//// Page productions-view
@import "components/productions/productions_view.styl"
//// Page photo
@import "components/photos_components.styl"
//// Page contact
@import "components/contact_components.styl"
//// Page Make donate
@import "components/makedonate_components.styl"
//// Page ateliers
@import "components/ateliers/ateliers_components.styl"
@import "components/ateliers/ateliers-view_components.styl"
//// Page 404
@import "components/404.styl"
//// Partenaires
@import "components/partenaires_components.styl"



@import "components/footer_components.styl"







// Tools
@import "tools/mixins.styl"
