.news-titlesection
  position: absolute
  top: -9999px
  right: -9999px
.article
  &__img-container
    -webkit-mask-image: -webkit-radial-gradient(circle, white, black) // Résoud le bug du border-raidus et du transform: scale
  &__img
    transition: 0.3s ease-in-out;
  &__title-link
    display: block
  &__title
    font-size: 2.321em
    font-weight: bold
    color color-title-article
    letter-spacing: 1px
    line-height 1.4em
  &__infos
    margin 1em 0 2em 0
    &__author
    &__date
      font-size: 1.435em
      color color-infos-articles
      font-weight: 500
    &__author
      margin-right: 1.236em // 20px
    &__author:before
    &__date:before
      font-family: glyphs
      color color-hover
      font-size: .8em // 12px
      display inline-block
      margin-right: 0.371em // 6px
    &__author:before
      content "\e915"
    &__date:before
      content "\e914"
  &__intro
    font-size: 2.058em
    color color-text-articles
    line-height: 1.3em
  &__button-more
    position: absolute
    bottom: 0
    display block
    font-size 2.058em
    {button-style}
    &:hover
    &:focus
      {button-style-hover}

.article__container:hover .article__img
.article__container:focus .article__img
  transform: scale(1.05);
  transition: 0.3s ease-in-out;



+media-query( only screen, max-width 1096px )
  .news__container
    margin: 0 auto
    max-width 60em
    padding 0 3em
  .article__container:nth-child(odd) .article__img-container
  .article__container:nth-child(odd) .article__text-container
  .article__container:nth-child(even) .article__img-container
  .article__container:nth-child(even) .article__text-container
  .article__container:nth-child(even) .article__title-container
    float left
  .news__container .article__text-container
    max-width 58.5em
  .article__img-container
    margin-bottom: 1em
  .article
    &__button-more
      margin-top: 1.458em // 30px
      position static
      display inline-block
  .news__container .article__container
    margin-bottom 10em
  .news__container .article__title-container
    margin-bottom: 2em
    max-width 58.5em

+media-query( only screen, max-width 573px )
  .article__title
    font-size: 1.6em
    letter-spacing 0px
    margin-bottom 10px
  .news__container .article__title-container
    margin-bottom 0
  .article__infos
    margin 10px 0 10px
  .article__infos__author, .article__infos__date
    font-size: 1.2em
  .article__intro
    font-size: 1.5em
  .article__button-more
    margin-top: 1em
  .news__container .article__container
    margin-bottom 5em
  .article__button-more
    font-size: 1.5em
  .wp-pagenavi
    margin-top 10em
