.productions
  &__title-container
    max-width 48em
    margin-left 49em
    margin-bottom 1em
  &__title
    font-family: handofseanfont
    font-size 3.26em
    margin-bottom: .8em
    &-partner
      margin-top: .5em
      display inline-block
      font-size: 1.62em
      color #717171
      font-weight: lighter
  &__background
    background-color color-grey-background
    border-radius 10px
  &__text-infos
    margin-top 1.431em // 20px
    margin-bottom 2.504em // 35px
    display inline-block
    font-size: 1.398em
    color #5C5C5C
  &__text-infos__item
    display inline-block
    margin-right 1.717em
  &__text-infos__item:before
    font-family: glyphs
    font-size: 24px
    color color-main-yellow
    position: relative
    top 4px
    line-height 30px
  &__text-infos__duration:before
    content "\e911"
    margin-right 9px
  &__text-infos__location:before
    content "\e910"
    margin-right 4px
  &__text-infos__date:before
    content "\e914"
    margin-right 9px


.productions
  &__details
    font-size: 1.82em
    line-height 1.2em
    font-weight: lighter
    margin-bottom 1.923em
    & b
      font-weight: 500
      display inline-block
      margin-right: 10px
    &__item
      display inline-block
      margin-bottom 8px
  &__synopsis
    &__title
      display block
      font-size: 2.6em
      text-transform: uppercase
      color #5C5C5C
      margin-bottom: 0.728em // 15px
    &__paragraph
      font-size: 1.82em
      font-weight: lighter
      color #343434
      line-height 1.3em
  &__button
    font-size: 2.621em
    background-color: color-white
    {button-style}
    &:hover
    &:focus
      {button-style-hover}

.productions
  &__article
    margin-bottom 18.5em
  &__figure
    position: absolute
    top: -6em
    left 3em


/************************************\
  START MEDIAQUERIES
\************************************/

+media-query( only screen, max-width 1065px )
  .productions
    &__figure
      position static
    &__img
      width 300px
      height auto
      box-shadow none
      margin-top 2.5em
      float: left
    &__article
      max-width 85em
      margin 0 auto 15em auto
    &__title-container
      margin-left: 2em

+media-query( only screen, max-width 912px )
  .productions
    &__text
      position static
    &__article
      max-width 48em
    &__background
      text-align center
      padding-bottom 1px
    &__figure
      display inline-block
    &__title-container
      text-align center
    &__synopsis__paragraph
      margin-bottom 4em
    &__button
      margin 0 auto
      position static
      position: relative
      top 14px
      right 0

+media-query( only screen, max-width 560px )
  .productions__details
    font-size 1.5em
  .productions__button
    font-size 2em

+media-query( only screen, max-width 412px )
  .productions
    &__img
    &__figure
      max-width 100%
      height auto
