/* My css import
 *
 * Main stylesheet
 * by Jimmy Letecheur
 */
@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway/Raleway-Regular.eot");
  src: url("../fonts/Raleway/Raleway-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/Raleway/Raleway-Regular.woff2") format('woff2'), url("../fonts/Raleway/Raleway-Regular.woff") format('woff'), url("../fonts/Raleway/Raleway-Regular.ttf") format('truetype'), url("../fonts/Raleway/Raleway-Regular.svg#Raleway-Regular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway/Raleway-Italic.eot");
  src: url("../fonts/Raleway/Raleway-Italic.eot?#iefix") format('embedded-opentype'), url("../fonts/Raleway/Raleway-Italic.woff2") format('woff2'), url("../fonts/Raleway/Raleway-Italic.woff") format('woff'), url("../fonts/Raleway/Raleway-Italic.ttf") format('truetype'), url("../fonts/Raleway/Raleway-Italic.svg#Raleway-Italic") format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway/Raleway-Medium.eot");
  src: url("../fonts/Raleway/Raleway-Medium.eot?#iefix") format('embedded-opentype'), url("../fonts/Raleway/Raleway-Medium.woff2") format('woff2'), url("../fonts/Raleway/Raleway-Medium.woff") format('woff'), url("../fonts/Raleway/Raleway-Medium.ttf") format('truetype'), url("../fonts/Raleway/Raleway-Medium.svg#Raleway-Medium") format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway/raleway-SemiBold.eot");
  src: url("../fonts/Raleway/raleway-SemiBold.eot?#iefix") format('embedded-opentype'), url("../fonts/Raleway/raleway-SemiBold.woff2") format('woff2'), url("../fonts/Raleway/raleway-SemiBold.woff") format('woff'), url("../fonts/Raleway/raleway-SemiBold.ttf") format('truetype'), url("../fonts/Raleway/raleway-SemiBold.svg#raleway-SemiBold") format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway/Raleway-Bold.eot");
  src: url("../fonts/Raleway/Raleway-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/Raleway/Raleway-Bold.woff2") format('woff2'), url("../fonts/Raleway/Raleway-Bold.woff") format('woff'), url("../fonts/Raleway/Raleway-Bold.ttf") format('truetype'), url("../fonts/Raleway/Raleway-Bold.svg#Raleway-Bold") format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'glyphs';
  src: url("../fonts/Icons/font_icon.eot");
  src: url("../fonts/Icons/font_icon.eot?#iefix") format('embedded-opentype'), url("../fonts/Icons/font_icon.woff2") format('woff2'), url("../fonts/Icons/font_icon.woff") format('woff'), url("../fonts/Icons/font_icon.ttf") format('truetype'), url("../fonts/Icons/font_icon.svg#font_icon") format('svg');
  font-weight: normal;
  font-style: normal;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  font-family: Raleway, Helvetica, Arial, sans-serif;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  color: #363636;
/*background-image url(grid.png);
  background-repeat repeat
  background-position center*/
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  opacity: 1;
}
.visuallyhidden {
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  color: #fff;
}
.header .subheader {
  height: 6em;
}
.header .subheader__mail,
.header .subheader__lang,
.header .subheader__search {
  display: inline-block;
  height: 100%;
}
.header .subheader__form {
  height: 100%;
  position: relative;
  bottom: 0.1em;
}
.header .subheader__form__submit {
  float: left;
  position: relative;
  top: 1.3em;
}
.header .subheader__social-container {
  display: inline-block;
  position: absolute;
  right: 7.45em;
}
.header .subheader__social {
  display: inline-block;
  height: 60px;
}
.header {
  position: relative;
}
.header__logo {
  display: inline-block;
  width: 8.5em;
  height: 6.4em;
  margin-top: 1em;
}
.menu {
  padding: 0 4.1em;
  height: 8em;
}
.menu__container {
  margin: 0 auto;
  float: right;
  margin-right: 1.75em;
}
.menu__title {
  display: none;
}
.menu__link,
.menu__item {
  display: inline-block;
}
.header-main {
  height: 80em;
  height: 100vh;
  position: relative;
}
.header__title {
  position: absolute;
  text-align: center;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.bottom-header {
  height: 5em;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.bottom-header__button {
  position: relative;
  top: -0.6em;
}
.bottom-header__text {
  display: inline-block;
  max-width: 22em;
  margin-top: 0.7em;
}
.scroll {
  position: absolute;
  top: 79%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.intro-img {
  height: 56em;
}
.intro-img__title {
  display: inline-block;
  margin-top: 4.8em;
}
.intro-img__button {
  display: inline-block;
  margin-top: 1.527em;
}
.intro-text {
  padding: 0 2em 7.5em;
}
.intro-text__container {
  max-width: 76em;
  margin: 0 auto;
}
.intro-text__container:after {
  content: "";
  display: block;
  clear: both;
}
.intro-text__paragraph {
  float: left;
}
.intro-text__img {
  float: right;
}
.img-baobab {
  position: relative;
  height: 70em;
  white-space: nowrap;
  position: relative;
}
.img-baobab__title {
  width: 70%;
  height: 75%;
  position: absolute;
  left: 15%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.img-baobab__deco {
  margin: 0 auto;
  display: block;
  position: relative;
  top: 466px;
}
.last-news {
  margin: 0 auto;
  text-align: center;
}
.last-news__line1 {
  position: relative;
  top: -1px;
}
.last-news__line2 {
  position: relative;
  top: 2px;
}
.last-news__articles__img {
  float: right;
}
.last-news__articles__img img {
  display: block;
}
.last-news__articles__top {
  margin: 0 auto;
  height: 30.3em;
  width: 90em;
  display: block;
}
.last-news__articles__top:after {
  content: "";
  display: block;
  clear: both;
}
.last-news__articles__top__link {
  position: absolute;
  right: 1.6em;
  bottom: 2em;
}
.last-news__articles__top__intro {
  width: 350px;
  float: right;
}
.last-news__articles__img {
  max-width: 45em;
  overflow: hidden;
}
.last-news__articles__container-text {
  width: 44.9em;
  position: relative;
  height: 100%;
}
.last-news__articles__top img {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.last-news__articles__top:hover img {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.article__vignette {
  width: 27.7em;
  height: 23.6em;
  position: relative;
  overflow: hidden;
}
.article__vignette__img {
  position: relative;
  z-index: 1;
}
.article__vignette__container {
  position: absolute;
  z-index: 2;
  width: 80%;
  height: 80%;
  top: 0;
  margin: 2.5em 1em 1em 2.8em;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.article__vignette__more {
  display: inline-block;
  margin-top: 3em;
  padding: 0.8em;
}
.last-news__container-bottom-articles {
  width: 90em;
  margin: 2.5em auto 13.5em;
  display: inline-block;
}
.last-news__container-bottom-articles:after {
  content: "";
  display: block;
  clear: both;
}
.last-news__bottom-link:nth-child(1) {
  float: left;
}
.last-news__bottom-link:nth-child(3) {
  float: right;
}
.donate {
  height: 70em;
  text-align: center;
  padding-top: 18em;
}
.donate__img {
  display: block;
  margin: 0 auto;
}
.follow-us {
  margin: 0 auto;
  width: 58.2em;
  height: 15em;
}
.last-prod {
  margin: 15em auto 0 auto;
}
.last-prod__container {
  text-align: center;
}
.last-prod__item {
  display: inline-block;
}
.last-prod__item:nth-child(1) {
  margin-right: 6%;
}
.footer {
  height: 40em;
  position: relative;
}
.footer__container {
  max-width: 110em;
  margin: 0 auto;
  text-align: center;
  padding: 0 1em;
}
.footer__container:after {
  content: "";
  display: block;
  clear: both;
}
.footer__help-us {
  display: inline-block;
  width: 35em;
  float: left;
  text-align: left;
}
.footer__help-us a {
  display: inline-block;
}
.footer__contact-us {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 5.8em;
}
.footer__contact-us a {
  display: block;
}
.footer__social {
  margin-top: 15px;
}
.footer__copyright {
  position: absolute;
  width: 100%;
  bottom: 20px;
}
.footer__copyright__container {
  text-align: center;
}
.footer__section__newsletter-social-container {
  text-align: left;
  float: right;
}
.header .subheader {
  background-color: #2d2d2d;
  color: #ccc;
  line-height: 5.6em;
}
.header .subheader__mail {
  border-left: 1px solid #5c5c5c;
  border-right: 1px solid #5c5c5c;
  padding: 0 2em;
  white-space: nowrap;
  margin-left: 4.4em;
}
.header .subheader__mail__item {
  font-size: 1.27em;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.header .subheader__mail__item:focus,
.header .subheader__mail__item:hover {
  color: #a3a3a3;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.header .subheader__mail__item:before {
  content: "\e918";
  font-family: glyphs;
  font-size: 1.3em;
  position: relative;
  top: 0.14em;
  line-height: 0;
  padding-right: 0.882em;
}
.header .subheader__lang {
  padding: 0 2em;
  border-right: 1px solid #5c5c5c;
}
.header .subheader__lang__item {
  font-size: 1.27em;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.header .subheader__lang__item:focus,
.header .subheader__lang__item:hover {
  color: #a3a3a3;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.header .subheader__lang__item:nth-child(2):after,
.header .subheader__lang__item:nth-child(2):before {
  content: " - ";
}
.header .subheader__lang__item:nth-child(3):after {
  content: "";
}
.header .subheader__lang__item--active {
  font-weight: bold;
}
.header .subheader__form {
  padding: 0 0.7em 0 2em;
  border-right: 1px solid #5c5c5c;
}
.header .subheader__form__label {
  display: none;
}
.header .subheader__form__search {
  background-color: #2d2d2d;
  border: none;
  font-size: 1.27em;
  width: 7.2em;
  color: #fff;
  line-height: 2em;
}
.header .subheader__form__submit {
  margin-right: 0.5em;
}
.header .subheader__social {
  text-align: right;
}
.header .subheader__social__link {
  height: 6em;
  margin-left: 1.5em;
  padding-left: 2.5em;
  display: inline-block;
  position: relative;
  max-width: 2.5em;
  overflow: hidden;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.header .subheader__social__logo {
  position: absolute;
  left: 0;
}
.header .subheader__social__text {
  font-size: 1.27em;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  color: #d9a613;
  margin-left: 0.3em;
}
.header .subheader__social__logo:before {
  font-family: glyphs;
  font-size: 2.4em;
}
.header .subheader__social__logo-fb:before {
  content: "\e91e";
}
.header .subheader__social__logo-tw:before {
  content: "\e91d";
}
.header .subheader__social__logo-inst:before {
  content: "\e900";
}
.header .subheader__social__logo-vi:before {
  content: "\e91f";
}
.header .subheader__social__logo-yout:before {
  content: "\e920";
}
.header .subheader__social__link:hover {
  max-width: 100%;
  color: #d9a613;
  text-align: left;
}
.header__logo {
  background-image: url("../img/png/Baobab_logo.png");
  background-repeat: no-repeat;
  background-position: center center;
  color: transparent;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (min-device-pixel-ratio: 1.3), only screen and (-webkit-min-device-pixel-ratio: 1.3020833333333333), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  .header__logo {
    background-image: url("../img/png/Baobab_logo@2x.png");
    background-size: 80px 64px;
  }
}
.header-main > .menu {
  background-color: rgba(46,65,87,0.8);
}
.menu__lang {
  display: none;
}
.menu__bloc {
  display: inline-block;
}
.menu__icon {
  display: none;
}
.menu__icon__label {
  display: none;
}
.menu__link {
  margin-right: 3em;
}
.menu__link--last {
  margin-right: 0;
}
.menu__item {
  color: #fff;
  font-size: 1.82em;
  text-align: center;
  margin-top: 0.8em;
}
.menu__item:before {
  font-family: glyphs;
  font-size: 1.3em;
  display: block;
  margin-bottom: 0.5em;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.menu__item-home:before {
  content: "\e917";
}
.menu__item-projet:before {
  content: "\e901";
}
.menu__item-news:before {
  content: "\e905";
}
.menu__item-prod:before {
  content: "\e904";
}
.menu__item-pics:before {
  content: "\e903";
}
.menu__item-tutos:before {
  content: "\e902";
}
.menu__item-contact:before {
  content: "\e91c";
}
.menu__item:hover:before {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  color: #d9a613;
}
.header-main {
  background: url("../img/png/pattern.png") repeat, url("../img/jpg/background_home_header.jpg") no-repeat center center/cover;
}
.header__title__main {
  font-size: 4.85em;
  font-weight: bold;
  color: #fff;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.8);
}
.header__title__sub {
  font-size: 2.33em;
  color: #fff;
}
.header__title__sub:before {
  content: "";
  display: block;
  width: 10.511em;
  height: 0.05em;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
.bottom-header {
  background: rgba(0,0,0,0.65);
}
.bottom-header__button {
  color: #fff;
  border: 1px solid #d9a613;
  border-radius: 3px;
  padding: 0.467em 0.701em;
  font-size: 1.3em;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.bottom-header__button:nth-child(1) {
  margin-left: 2.5em;
}
.bottom-header__button:nth-child(2) {
  margin-left: 1.46em;
}
.bottom-header__button:hover,
.bottom-header__button:focus {
  background-color: #d9a613;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.bottom-header__text {
  color: #fff;
  font-size: 1.3em;
  margin-left: 1.753em;
  line-height: 1.25em;
}
@media only screen and (max-width: 995px) {
  .header .subheader__social__text {
    display: none;
  }
}
@media only screen and (max-width: 929px) {
  .header .subheader__mail {
    display: none;
  }
  .header .subheader__lang {
    border-left: 1px solid #5c5c5c;
    margin-left: 4.4em;
  }
}
@media only screen and (max-width: 703px) {
  .header .subheader__social-container {
    right: auto;
  }
}
@media only screen and (max-width: 639px) {
  .header .subheader__lang {
    margin-left: 0;
    border-left: 0;
  }
}
@media only screen and (max-width: 605px) {
  .header .bottom-header {
    display: none;
  }
}
@media only screen and (max-width: 592px) {
  .header .subheader {
    text-align: center;
  }
  .header .subheader__social-container {
    display: none;
  }
  .header .subheader__form {
    border-right: 0;
  }
}
@media only screen and (max-width: 908px) {
  .menu__item {
    font-size: 1.4em;
    margin-top: 1.5em;
  }
}
@media only screen and (max-width: 789px) {
  .subheader {
    display: none;
  }
  .header__logo {
    margin-left: 2.4em;
  }
  .menu {
    position: relative;
    padding: 0;
  }
  .menu__icon {
    display: none;
  }
  .menu__icon-bg {
    position: absolute;
    z-index: 1;
    top: 1em;
    right: 3em;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid #d9a613;
    background: #243445;
  }
  .menu__icon__label {
    display: inline-block;
    position: absolute;
    z-index: 2;
    right: 3.3em;
    top: 2.3em;
    height: 60px;
    width: 60px;
    color: transparent;
    cursor: pointer;
  }
  .menu__icon__label span,
  .menu__icon__label span:before,
  .menu__icon__label span:after {
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #fff;
  }
  .menu__icon__label span {
    left: 34px;
    top: 17px;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
  }
  .menu__icon__label span:before,
  .menu__icon__label span:after {
    content: '';
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: transform 0.2s;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
  }
  .menu__icon__label span:before {
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  .menu__icon__label span:after {
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
  .menu__lang {
    display: inline-block;
    color: #fff;
    margin-top: 10px;
  }
  .menu__lang__item {
    background-color: #202e3d;
    font-size: 1.4em;
    padding: 5px 5px;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
  }
  .menu__lang__item:hover,
  .menu__lang__item:focus {
    background-color: #2e4157;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
  }
  .menu__container {
    position: relative;
    width: 25em;
    top: 0;
    text-align: center;
    background-color: #253446;
    margin-right: 0;
    z-index: 20;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .menu__link {
    margin-right: 0;
    display: block;
    font-size: 16.2px;
  }
  .menu__icon:checked {
    -webkit-transform: translateX(-250px);
    -ms-transform: translateX(-250px);
    transform: translateX(-250px);
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
  }
  .menu__icon:checked ~ .menu__container {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    z-index: 10;
    overflow-y: visible;
  }
  .site-pusher {
    height: 100%;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
  .site-container {
    overflow: hidden;
    height: 100%;
  }
  .site-content {
    height: 100%;
    overflow-scrolling: touch;
  }
  .menu__container {
    -webkit-transform: translateX(250px);
    -ms-transform: translateX(250px);
    transform: translateX(250px);
    height: 100vh;
  }
}
.with--sidebar {
  overflow: hidden;
  height: 100%;
}
.with--sidebar .site-pusher {
  -webkit-transform: translateX(-250px);
  -ms-transform: translateX(-250px);
  transform: translateX(-250px);
}
.with--sidebar .site-cache {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  background-color: rgba(0,0,0,0.6);
}
.with--sidebar .menu__icon__label span {
  background-color: transparent;
}
.with--sidebar .menu__icon__label span:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.with--sidebar .menu__icon__label span:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.intro-img {
  background-image: url("../img/jpg/baobab_about4.jpg");
  background-position: center center;
  text-align: center;
  padding: 1.5em 2.5em;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (min-device-pixel-ratio: 1.3), only screen and (-webkit-min-device-pixel-ratio: 1.3020833333333333), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  .intro-img {
    background-image: url("../img/jpg/baobab_about4@2x.jpg");
    background-size: cover;
  }
}
.intro-img__title {
  font-weight: bold;
  font-size: 3.33em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 1px solid #fff;
  padding: 1.742em 1.9em;
}
.intro-img__button {
  font-size: 2.62em;
  color: #fff;
  padding: 0.458em 1.145em;
  border: 2px solid #d9a613;
  border-radius: 3px;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.intro-img__button:hover {
  background-color: #d9a613;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
@media only screen and (max-width: 643px) {
  .intro-img {
    background-image: url("../img/jpg/baobab_about4-min.jpg");
    height: 40em;
  }
  .intro-img__title {
    font-size: 2.32em;
    letter-spacing: 1px;
    margin-top: 3em;
  }
}
.intro-text__title {
  font-weight: bold;
  font-size: 4.24em;
  color: #d9a613;
  margin-top: 1.769em;
  text-align: center;
}
.intro-text__title:after {
  content: "";
  display: block;
  width: 615px;
  height: 24px;
  background-image: url("../img/png/text-intro_geometric_subtitle.png");
  background-repeat: no-repeat;
  margin: 0.236em auto 0.849em auto;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (min-device-pixel-ratio: 1.3), only screen and (-webkit-min-device-pixel-ratio: 1.3020833333333333), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  .intro-text__title:after {
    background-image: url("../img/png/text-intro_geometric_subtitle@2x.png");
    background-size: 615px 24px;
  }
}
.intro-text__paragraph {
  font-size: 2.62em;
  max-width: 20.344em;
  margin-bottom: 0.763em;
}
@media only screen and (max-width: 808px) {
  .intro-text__container {
    width: 53em;
  }
  .intro-text__title {
    font-size: 2.62em;
    margin-bottom: 1em;
  }
  .intro-text__title:after {
    display: none;
  }
  .intro-text__img {
    width: 15em;
    height: auto;
  }
  .intro-text__paragraph {
    font-size: 1.82em;
  }
}
@media only screen and (max-width: 586px) {
  .intro-text__container {
    width: 320px;
    margin: 0 auto;
    text-align: center;
  }
  .intro-text__img {
    display: none;
  }
  .intro-text__paragraph {
    text-align: center;
  }
}
@media only screen and (max-width: 400px) {
  .intro-text__container {
    width: 250px;
  }
  .intro-text__paragraph {
    text-align: left;
  }
}
.img-baobab {
  background-image: url("../img/jpg/img_deco.jpg");
  background-position: center center;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (min-device-pixel-ratio: 1.3), only screen and (-webkit-min-device-pixel-ratio: 1.3020833333333333), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  .img-baobab {
    background-image: url("../img/jpg/img_deco@2x.jpg");
    background-size: cover;
  }
}
.img-baobab__title {
  background-color: rgba(224,195,49,0.9);
  padding: 0 5em;
}
.img-baobab__title__img {
  background-image: url("../img/png/baobab_text.png");
  background-repeat: no-repeat;
  background-position: center 35%;
  height: 100%;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (min-device-pixel-ratio: 1.3), only screen and (-webkit-min-device-pixel-ratio: 1.3020833333333333), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  .img-baobab__title__img {
    background-image: url("../img/png/baobab_text@2x.png");
    background-size: contain;
  }
}
@media only screen and (max-width: 700px) {
  .img-baobab {
    background-image: url("../img/jpg/img_deco-min.jpg");
    height: 40em;
  }
  .img-baobab__deco {
    top: 145px;
    width: 12px;
  }
}
.last-news {
  background-color: #f5f5f5;
}
.last-news__title {
  font-weight: bold;
  font-size: 3.76em;
  color: #222;
  padding-top: 3.29em;
}
.last-news__newsletters {
  display: block;
  font-size: 1.62em;
  text-transform: uppercase;
  margin-left: 6em;
  margin-top: 0.1em;
  margin-bottom: 1.852em;
}
.last-news__newsletters a {
  text-decoration: underline;
}
.last-news__articles {
  padding: 0 2em;
}
.last-news__articles__top {
  background-color: #fff;
}
.last-news__articles__top__title {
  font-weight: bold;
  color: #222;
  font-size: 2.62em;
  text-align: right;
}
.last-news__articles__top__title:after {
  content: "";
  display: inline-block;
  width: 8.015em;
  height: 1px;
  background-color: #979797;
  margin: 1.049em 0;
  text-align: right;
}
.last-news__articles__top__intro {
  font-size: 1.43em;
  color: #000;
  text-align: right;
  display: block;
  line-height: 1.3em;
}
.last-news__articles__top__link {
  font-size: 1.27em;
  padding: 0.551em 2.52em;
  border: 2px solid #d9a613;
  border-radius: 2px;
  letter-spacing: 0.5px;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.last-news__articles__top__link:hover,
.last-news__articles__top__link:focus {
  background-color: #d9a613;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  color: #fff;
}
.last-news__articles__container-text {
  padding: 2em;
}
@media only screen and (max-width: 965px) {
  .last-news__articles__top {
    width: 45em;
    height: auto;
    padding-bottom: 8em;
    position: relative;
  }
  .last-news__articles__img {
    display: block;
    float: none;
  }
  .last-news__articles__img img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
  }
  .last-news__articles__container-text {
    display: block;
    background-color: #fff;
    width: 45em;
    height: auto;
    position: static;
  }
  .last-news__articles__top__link {
    float: right;
    position: absolute;
    bottom: 2em;
  }
}
@media only screen and (max-width: 499px) {
  .last-news__articles__top {
    width: 30em;
  }
  .last-news__articles__container-text {
    width: 30em;
  }
  .last-news__articles__top__title {
    font-size: 1.62em;
    width: 300px;
  }
  .last-news__articles__top__title {
    width: auto;
  }
  .last-news__articles__top__intro {
    font-size: 1.2em;
    width: auto;
  }
}
@media only screen and (max-width: 336px) {
  .last-news__articles__top {
    width: 25em;
  }
  .last-news__articles__container-text {
    width: 25em;
  }
  .last-news__articles__top__title {
    font-size: 1.62em;
    width: 300px;
  }
  .last-news__articles__top__title {
    width: auto;
  }
  .last-news__articles__top__intro {
    font-size: 1.2em;
    width: auto;
  }
}
.article__vignette {
  display: inline-block;
}
.article__vignette__title {
  color: #fff;
  font-size: 1.62em;
  font-weight: bold;
  line-height: 1.15em;
}
.article__vignette__container {
  background-color: rgba(0,0,0,0.5);
  padding: 2em;
}
.article__vignette__more {
  background-color: rgba(181,181,181,0.5);
}
.article__vignette__img {
  width: 100%;
  object-fit: cover;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.article__vignette svg {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.article__vignette:hover .article__vignette__more svg {
  -webkit-transform: scale(1.6);
  -ms-transform: scale(1.6);
  transform: scale(1.6);
  -webkit-transform: 0.3s ease-out;
  -ms-transform: 0.3s ease-out;
  transform: 0.3s ease-out;
}
.article__vignette:hover .article__vignette__more svg g {
  stroke: #f1f1f1;
}
.article__vignette:hover img {
  -webkit-transform: scale(1.2) rotate(2deg);
  -ms-transform: scale(1.2) rotate(2deg);
  transform: scale(1.2) rotate(2deg);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
/************************************      DONATE
  \************************************/
}
.donate {
  position: relative;
  background: url("../img/jpg/home_donate.jpg") no-repeat center center/cover;
}
.donate__img {
  margin-bottom: 1.5em;
}
.donate__text1 {
  display: block;
  font-size: 5em;
  color: #fff;
  font-weight: bold;
}
.donate__text2 {
  display: block;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 9.05em;
  line-height: 0.8em;
}
.donate__text2:after {
  content: "";
  margin: 0 auto;
  margin-top: 0.331em;
  display: block;
  width: 4.42em;
  height: 1px;
  background-color: #fff;
}
.donate__button {
  display: inline-block;
  margin-top: 3.81em;
  color: #fff;
  font-size: 2.62em;
  padding: 0.495em 2.286em 0.495em 2.286em;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border: 1px solid #d9a613;
  border-radius: 3px;
  background-color: #d9a613;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.donate__button:focus,
.donate__button:hover {
  background-color: #edbe35;
  border: 1px solid #edbe35;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.follow-us {
  background-color: #fff;
  position: relative;
  bottom: -9.5em;
}
.follow-us__text {
  display: block;
  font-size: 2.62em;
  font-weight: bold;
  color: #000;
  padding-top: 1.145em;
  margin-bottom: 0.573em;
  text-transform: uppercase;
  letter-spacing: -0.5px;
}
.follow-us__item {
  margin-right: 1.5em;
}
.follow-us__item:last-child {
  margin-right: 0;
}
.follow-us__item:after {
  font-family: glyphs;
  font-size: 3em;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.follow-us__item-fb:after {
  content: "\e91e";
  color: #3b5a99;
}
.follow-us__item-fb:hover:after {
  color: #293f6b;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.follow-us__item-tw:after {
  content: "\e91d";
  color: #5fa9de;
}
.follow-us__item-tw:hover:after {
  color: #267bb8;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.follow-us__item-inst:after {
  content: "\e900";
  color: #e3dfd4;
}
.follow-us__item-inst:hover:after {
  color: #afa484;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.follow-us__item-vim:after {
  content: "\e91f";
  color: #000;
}
.follow-us__item-vim:hover:after {
  color: #4d4d4d;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.follow-us__item-yout:after {
  content: "\e920";
  color: #a60d1d;
}
.follow-us__item-yout:hover:after {
  color: #740914;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.last-prod {
  text-align: center;
}
.last-prod__item {
  z-index: 1;
  overflow: hidden;
  width: 40.8em;
  height: 57.6em;
  position: relative;
}
.last-prod__item__link {
  color: transparent;
}
.last-prod__item__hovereffect {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: rgba(7,7,7,0);
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
.last-prod__item__hovereffect:before {
  content: "\e922";
  font-family: glyphs;
  color: transparent;
  font-size: 10em;
  display: block;
  position: absolute;
  top: 40%;
  left: 1.55em;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.last-prod__item__hovereffect:hover:before {
  color: #fff;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.last-prod__item__hovereffect:after {
  content: "Voir le film";
  font-size: 2em;
  display: block;
  color: transparent;
  position: absolute;
  top: 53%;
  left: 7.7em;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.last-prod__item__hovereffect:hover:after {
  color: #fff;
}
.last-prod__item__img {
  position: absolute;
  left: 0;
  -webkit-transition: 3s ease;
  transition: 3s ease;
  z-index: -1;
}
.last-prod__button {
  font-size: 2.62em;
  display: inline-block;
  color: #222;
  padding: 0.458em 1.145em;
  border: 2px solid #d9a613;
  border-radius: 3px;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  margin-top: 1.908em;
  margin-bottom: 4.504em;
}
.last-prod__button:hover,
.last-prod__button:focus {
  background-color: #d9a613;
  color: #fff;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.last-prod__item:hover .last-prod__item__hovereffect {
  background: rgba(7,7,7,0.5);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
@media only screen and (max-width: 643px) and (-webkit-min-device-pixel-ratio: 1.3), only screen and (max-width: 643px) and (min--moz-device-pixel-ratio: 1.3), only screen and (max-width: 643px) and (min-device-pixel-ratio: 1.3), only screen and (max-width: 643px) and (-webkit-min-device-pixel-ratio: 1.3020833333333333), only screen and (max-width: 643px) and (min-resolution: 125dpi), only screen and (max-width: 643px) and (min-resolution: 1.3dppx) {
  .intro-img {
    background-image: url("../img/jpg/baobab_about4-min@2x.jpg");
    background-size: cover;
  }
}
@media only screen and (max-width: 700px) and (-webkit-min-device-pixel-ratio: 1.3), only screen and (max-width: 700px) and (min--moz-device-pixel-ratio: 1.3), only screen and (max-width: 700px) and (min-device-pixel-ratio: 1.3), only screen and (max-width: 700px) and (-webkit-min-device-pixel-ratio: 1.3020833333333333), only screen and (max-width: 700px) and (min-resolution: 125dpi), only screen and (max-width: 700px) and (min-resolution: 1.3dppx) {
  .img-baobab {
    background-image: url("../img/jpg/img_deco-min@2x.jpg");
    background-size: cover;
  }
}
.footer {
  background: url("../img/svg/footer_background.svg") no-repeat, #2e4157;
  color: #fff;
  padding-top: 8.5em;
}
.footer__section__title {
  font-size: 2.62em;
  font-weight: 500;
  margin-bottom: 0.847em;
}
.footer__help-us__link {
  font-size: 2.06em;
  border: 2px solid #d9a613;
  border-radius: 3px;
  margin-bottom: 0.971em;
  padding: 0.345em 0.991em;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.footer__help-us__link:focus,
.footer__help-us__link:hover {
  background-color: #d9a613;
}
.footer__contact-us__item {
  font-size: 2.06em;
  margin-bottom: 0.971em;
}
.footer__contact-us__item:before {
  font-family: glyphs;
  font-size: 1em;
  margin-right: 0.485em;
}
.footer__contact-us__item-tel:before {
  content: "\e91b";
}
.footer__contact-us__item-wa:before {
  content: "\e91a";
}
.footer__contact-us__item-form:before {
  content: "\e91c";
  font-size: 0.8em;
}
.footer__section__newsletter-label {
  display: none;
}
.footer__section__newsletter-input {
  background-color: #243445;
  border: none;
  outline: none;
  font-size: 2.1em;
  color: #a6acb3;
  letter-spacing: 0.67px;
  font-weight: 300;
  padding: 0.388em 0.826em 0.3888em 0.647em;
}
.footer__section__newsletter-submit {
  position: relative;
  top: 1.1em;
  right: 0.3em;
}
.footer__social__item:before {
  color: #fff;
  font-size: 4.2em;
  font-family: glyphs;
  margin-right: 0.357em;
}
.footer__social__item-fb:before {
  content: "\e91e";
}
.footer__social__item-tw:before {
  content: "\e91d";
}
.footer__social__item-inst:before {
  content: "\e900";
}
.footer__social__item-vim:before {
  content: "\e91f";
}
.footer__social__item-yout:before {
  content: "\e920";
  margin-right: 0;
}
.footer__newsletter__title {
  margin-bottom: 0.2em;
}
.visuallyhidden {
  color: transparent;
}
